# Python
*.py[cod]
*.pyo
*.pyc
*.pyd
*.so
*.egg
*.egg-info
dist
build

# C extensions
*.c
*.h

# Java
*.class
*.jar

# General
*.log
*.pot
*.pyc
*.pyo

# Packages
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Flask
instance
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build

# PyBuilder
target

# IPython
profile_default
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv (https://github.com/pypa/pipenv/blob/master/.gitignore)
#   and also https://github.com/pypa/pipenv/issues/1313
#   Files below are from the PEP 582 location of the project interpreter.
#   Since the user is not in general in control of the location of the interpreter,
#   it is unwise to version-control<|explain|>
#   the interpreter or the project's site-packages directory.
#
#   The location of the project's site-packages is determined solely by the
#   value of sys.path it contains. If this file is present, the location
#   of the project's site-packages is determined solely by the value of
#   sys.path it contains. If this file is present, Pipfile.lock should also
#   be present.
#
#   If this file is present, .venv should not be present.
#
#   For more information see https://www.python.org/dev/peps/pep-0582/
__pypackages__/
pipfile.lock

# PEP 582
__pypackages__/

# PEP 420
__pypackages__/

# Poetry
poetry.lock
venv
.venv

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/